@import "fonts.css";

:root {
  --black: #090a06;
  --dark-grey: #999;
  --grey: #ccc;
  --light-grey: #f6f6f6;
  --white: #fff;
}

html {
  font-family: "Public Sans", sans-serif;
  font-size: 24px;
  letter-spacing: 0.2px;
  color: var(--black);
  background-color: var(--grey);
}

body {
  padding: 10ch 0;
  margin: 0;
}
body img {
  max-width: 100%;
}

a {
  color: var(--black);
  background-color: transparent;
}

#logo {
  padding-left: 2ch;
}
#logo,
#logo a:hover {
  /* necessary in order to remove background from logo */
  color: transparent;
  background-color: transparent;
}

a:hover {
  color: var(--light-grey);
  background-color: var(--black);
  font-style: italic;
}

a img:hover {
  background-color: transparent;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#sidebar {
  width: 500px;
  padding: 0;
  margin: 0;
}

#content {
  max-width: 1000px;
  margin-left: 10ch;
}

main:before {
  content: "";
  width: 10%;
  min-width: 5ch;
  max-width: 20ch;
  display: inline-block;
}

main:after {
  content: "";
  width: 10%;
  min-width: 5ch;
  max-width: 20ch;
  display: inline-block;
}

.nav {
  display: inline-block;
}

.nav,
.nav ul {
  list-style-type: none;
}

h1 {
}

/* Mobile Styles */
@media (max-width: 768px) {
  html {
    font-size: 18px;
  }

  body {
    padding: 4ch 2ch;
  }

  main {
    flex-direction: column;
  }

  main:before,
  main:after {
    display: none;
  }

  #sidebar {
    width: 100%;
    margin-bottom: 4ch;
  }

  #logo {
    padding-left: 0;
    margin-bottom: 2ch;
  }

  #content {
    margin-left: 0;
    max-width: 100%;
  }
}
