---
pages:
    - {name: About, url: /about}
    - {name: Projects, tag: project}
    - {name: Sounds, tag: sound}
    - {name: Works, tag: work}
    - {name: Contact, url: /contact, class: contact}
externalLinks:
    - {name: Facebook, url: https://www.facebook.com/mountfog}
    - {name: SoundCloud, url: https://soundcloud.com/mountfog}
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ metadata.title }} - {{ title or 'a Multidisciplinary Art Project' }}</title>
        <meta name="description" content="{{ renderData.description or description or metadata.description }}">
        <meta name="robots" content="index,follow">
        <meta name="generator" content="Eleventy">
        <meta name="subject" content="Experimental music.">
        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

        {%- block seo -%}
            <!--Twitter Card-->
            <meta name="twitter:card" content="summary">
            <meta name="twitter:url" content="{{ metadata.url }}{{ page.url }}">
            <meta name="twitter:title" content="{{ title or metadata.title }}">
            <meta name="twitter:description" content="{{ metadata.description }}">

            <!--Schema-->
            <link rel="author" href="{{ metadata.url }}">
            <link rel="publisher" href="{{ metadata.url }}">
            <meta itemprop="name" content="{{ title or metadata.title }}">
            <meta itemprop="description" content="{{ metadata.description }}">

            <!-- Facebook OpenGraph -->
            <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ title or metadata.title }}">
            <meta property="og:description" content="{{ metadata.description }}">
            <meta property="og:site_name" content="{{ metadata.title }}">
            <meta property="og:locale" content="en_GB">
            <meta property="article:author" content="{{ metadata.url }}">
        {%- endblock -%}
    </head>
    <body>
        <header></header>

        <div class=""></div>
        <div class="sidebar">
            <div id="logo">
                <a href="{{ '/' | url }}">
                    <img src="{{ '/img/mount_fog_logo.png' | url }}" alt="We Know Nothing cover art" width="150px"/>
                </a>
            </div>
            <ul class="page-nav">
                {%- for page in pages -%}
                    <li class="page-item {{ page.class }}">
                        {% if page.url %}
                            <a href="{{ page.url | url }}">{{ page.name | upper }}</a>
                        {% elif page.tag %}
                            {{ page.name | upper }}
                            <ul class="{{ page.tag }}-nav">
                                {%- for innerPage in collections[page.tag] | sort(attribute = 'date', reverse=true) -%}
                                    <li class="{{ page.tag }}-item">
                                        <a href="{{ innerPage.url | url }}">{{ innerPage.data.title }}</a>
                                    </li>
                                {%- endfor -%}
                            </ul>
                        {% endif %}
                    </li>
                {%- endfor -%}
            </ul>
            <ul class="link-nav">
                {%- for link in externalLinks -%}
                    <li class="link-item">
                        <a href="{{ link.url | url }}">{{ link.name }}</a>
                    </li>
                {%- endfor -%}
            </ul>
        </div>

        <main>
            {{ content | safe }}
        </main>

        <footer></footer>
    </body>
</html>
